:javascript
  
  var COLORS = ["#258693","#00707F","#01ACC4","#39cde2","#66d2e2"];
  var COLOR_USER =COLORS[4];
  var COLOR_ITEM =COLORS[3];
  var COLOR_POLL =COLORS[2];
  var COLOR_CATEGORY =COLORS[1];
  var COLOR_MUSEME =COLORS[0];
  var COLOR_USER_HIGHLIGHT ="#333";
  var COLOR_ITEM_HIGHLIGHT="#333";
  var COLOR_POLL_HIGHLIGHT ="#333";
  var categoryNames = ["Art","Beauty","Cars","CuteThings","Eletronics","Events","Fashion","Food","Humor","Media","Travel","Other"];
  var categoryColor = d3.scale.category20(); 

  $(function(){
    buildTree(COLORS,".tree-container");
  })
  //interaction js here
  $(document).ready(function(){
    var originalColor;
    var radius = 2;
    $('.user').tooltip();

    $('.legend-container circle').each(function(i,v){
      $(this).attr("fill",COLORS[i]);
    });


  	$('.user').hover(function(){
        highlight($(this),2.5,COLOR_USER_HIGHLIGHT,COLOR_ITEM_HIGHLIGHT,COLOR_POLL_HIGHLIGHT,true);
  	  },
    	function(){
        highlight($(this),1,COLOR_USER,COLOR_ITEM,COLOR_POLL,false);
    	}
    );

    function highlight($user,N,color_user,color_item,color_poll,flag){
      var title = $user.attr('data-original-title');
      totalVotes = $("."+title).length;
      var categoryCount=new Array();
      for(i=0;i<categoryNames.length;i++){
        var category = {};
        category.label = categoryNames[i];
        category.value = 0;
        categoryCount.push(category);
      }
      selectedUsers = d3.selectAll('.'+title)
          .style("fill",color_user)
        .select('circle')
          .attr("r",radius*N);
      $('.'+title).each(function(){
        var itemClass = $(this).attr('class').match(/item_[\d]+/).toString();
        var items = d3.selectAll('.'+itemClass)
            .style("fill",color_item);
        items.each(function(){
          var pollClass = $(this).attr('class').match(/poll_[\d]+/).toString();
          var polls = d3.selectAll('.'+pollClass)
              .style("fill",color_poll);
          if(flag){
            polls.each(function(){
              var categoryClass = $(this).attr('class').match(/[\d]+_[A-z]+/).toString().replace(/[\d]+_/,'');
              categoryHash = find_hash_in_arr(categoryClass,categoryCount);
              categoryHash.value=categoryHash.value+1;
            });
          }
        });
      });
      if(flag){
        var categorys = d3.selectAll('.category')
            .attr('rel','tooltip')
            .attr('data-original-title',function(d){
              var title = $(this).attr('class').replace(/category /,'');
              return find_hash_in_arr(title,categoryCount).value;
            })
            .style("fill",function(d){
              var title = $(this).attr('class').replace(/category /,'');
              return categoryColor(categoryNames.indexOf(title));
            });
        $('.category').tooltip('show');
        addLegendTitle(title,totalVotes,$(".pie-container"));
        pie(categoryCount,".pie-container",categoryColor);
        pieLegend(categoryCount,".pie-container",categoryColor);
        $(".pie-container").css("display","block");
      }
      else{
        var categorys = d3.selectAll('.category')
            .attr('data-original-title',null)
            .style("fill",COLOR_CATEGORY);
        $('.category').tooltip('hide');
        $(".pie-container").css("display","none");
        $('.pie-container svg').remove();
        $('.pie-container p').remove();

      }

    }

    function find_hash_in_arr(value,arr){
      filter_arr = arr.filter(function(e){
        return e.label == value;
      })
      return filter_arr[0];
    }
    /* <p> name has totalVotes votes </p>*/
    function addLegendTitle(name,totalVotes,$container){
      $container.append("<p> "+name+" has "+totalVotes+" votes.</p>");
    }

  })
  
  


  

