= render :partial => "js"
.tree-container
%section.legend-container
  .row-fluid
    %svg{:width=>"20",:height=>"20"}
      %circle{:r=>"10",:cx=>"10",:cy=>"10"}
    .legend 
      %h3 Muse Me
  .row-fluid
    %svg{:width=>"20",:height=>"20"}
      %circle{:r=>"10",:cx=>"10",:cy=>"10"}
    .legend 
      %h3 Categories
  .row-fluid
    %svg{:width=>"20",:height=>"20"}
      %circle{:r=>"10",:cx=>"10",:cy=>"10"}
    .legend 
      %h3 Polls
  .row-fluid
    %svg{:width=>"20",:height=>"20"}
      %circle{:r=>"10",:cx=>"10",:cy=>"10"}
    .legend 
      %h3 Items
  .row-fluid
    %svg{:width=>"20",:height=>"20"}
      %circle{:r=>"10",:cx=>"10",:cy=>"10"}
    .legend 
      %h3 Votes
%section.pie-container
  
  
