= render :partial => "js"
.tree-container
%section.legend-container
  .row-fluid
    %svg{:width=>"20",:height=>"20"}
      %circle{:r=>"10",:cx=>"10",:cy=>"10",:style=>"fill:#1F77B4"}
    .legend 
      %h3 Muse Me
  .row-fluid
    %svg{:width=>"20",:height=>"20"}
      %circle{:r=>"10",:cx=>"10",:cy=>"10",:style=>"fill:#FF7F0E"}
    .legend 
      %h3 Categories
  .row-fluid
    %svg{:width=>"20",:height=>"20"}
      %circle{:r=>"10",:cx=>"10",:cy=>"10",:style=>"fill:#2CA02C"}
    .legend 
      %h3 Polls
  .row-fluid
    %svg{:width=>"20",:height=>"20"}
      %circle{:r=>"10",:cx=>"10",:cy=>"10",:style=>"fill:#D62728"}
    .legend 
      %h3 Items
  .row-fluid
    %svg{:width=>"20",:height=>"20"}
      %circle{:r=>"10",:cx=>"10",:cy=>"10",:style=>"fill:#9467BD"}
    .legend 
      %h3 Votes
  
  
