.header.box-shadow
  .heading
    .text-logo
      %img{:src=>"/images/logo.png"}
    %span 
      %h1 infographics
  %br
  %p Muse Me is a fun social app helps people get opinions and recommendations. It allows user to create and vote on image based polls. Mouse-over a "vote" to see the user's overall activity!

